<div class="post">
  <h2><%= post.title %></h2>
  <%= post.content.html_safe %>
  <div class="post-footer">
    Posted <%= distance_of_time_in_words(Time.now, post.updated_at) %> ago
  </div>
</div>

