<div id="main">
  <div id="header">
    <h1>deedoubleyou.net<h1>
  </div>
  <% @posts.each do |post| %>
    <%= render :partial => 'shared/show_post', :locals => { :post => post } %>
  <% end  %>
</div>

