/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 */

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: georgia;
  font-size: 14px;
  line-height: 21px;
 }

 #top-nav
 {
   background-color: #2D2D2D;
   color: #CCCCCC;
   height: 30px;
   position: absolute;
   top: 0;
   width: 100%;
 }

 #top-nav a
 {
   color: #CCCCCC;
   line-height:30px;
   padding-right: 5px;
   padding-left: 5px;
 }

 #header h1 {
   font-family:arial;
   font-size 24px;
   text-align:right;
 }

 #main {
   width: 60%;
   max-width: 1000px;
   background-color:#fff;
   margin: 2em auto;
   padding: 1em;
 } 

 .post h2 {
   font-family: arial;
   font-size:18px;
}

.post {
  background-color: #fff;
  color: #444;

}

.post .post-footer
{
  color: #999999;
}

#footer {
  background-color: #2D2D2D;
  color: #CCCCCC;
  padding: 30px 0;
}

.footer-parts-container
{
  width: 300px;
  margin: 0;
  padding: 0;
  vertical-align: baseline; 
  border: 0 none;
  display: inline;
  float: left;
}


#footer #footer-left
{
  margin-left: 0;
  margin-right:10px;  
}

#footer #footer-mid
{
  margin-left: 10px;
  margin-right: 10px;
}

#footer #footer-right
{
  margin-right: 0;
  margin-left: 10px;
}




